<h1 class="font-montserrat font-semibold" >Editing company</h1>

<%= render "form", company: @company %>

<br>

<div class="font-montserrat font-semibold shadow appearance-none w-full py-2 px-300" >
  <%= link_to "Back", companies_path %>
</div>
